<html>
    <head>
        <link href='assets/style.css' type='text/css' rel='stylesheet' />
    </head>
    <body>
        <form action="http://localhost:3000/read" method="post" enctype="multipart/form-data">
            <fieldset>
                <label for="name">Name:</label>
                <input type="file" id="name" name="filename" />
                <input type="submit" value="Analyze File" />

            </fieldset>
        </form>
    </body>
</html>